{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Resturant Name</th>
                <th scope="col">Description</th>
                <th scope="col">Location</th>
                <th scope="col">Items</th>
                <!-- <th scope="col">Options</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr >
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.location }}</td>
                    <td><a href="{{ url_for('restaurant_bp.menu', rest_id=item.id)}}"> Link</a></td>
                    
                    <!-- <td>
                        <button class="btn btn-outline btn-info">Buy Now</button>
                        <button class="btn btn-outline btn-success">Add to cart</button>
                    </td> -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}