{% extends 'base.html' %}
{% block title %}
  Cart Page
{% endblock %}

{% block content %}
<div class="info">
  <div class="container">



    <h1 style="text-align:center;">Payment Summary</h1>
    Total Amount - {{o.cost}}

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Item Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Number of Orders</th>
                <!-- <th scope="col">Options</th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in o.items %}
                <tr >
                    <td class="Item {{item.id}}">{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ oi_data[o.id|string+'_'+item.id|string] }}</td>
                </tr>

                {% endfor %}
            <tr>
              <td>Total Amount</td>
              <td></td>
              <td></td>
              <td>{{o.cost}}</td>
              <td></td>
            </tr>
        </tbody>
    </table>

    <br>
    <button id="rzp-button1" class="btn btn-lg btn-primary btn-block" type="button">Pay Now</button>
  </div>
</div>
{% endblock %}


{% block js %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

  let a =document.getElementById('rzp-button1')
  a.addEventListener('click',()=>{
    var d={{o.id}}
   window.location.href = `/cart_complete/${d}`;
  })
 </script>

{% endblock %}